*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.h1{
  font-size: 32px;
}

.nav{
  text-align: center;
}

.menu-list{
  list-style: none;
  display: flex;
  justify-content:center;
  border-top: solid 1px #848282;
  border-bottom: solid 1px #848282;
}

.menu-list-item{
  margin: 15px 20px;
}

.box{
  width: 800px;
  height: 600px;
  margin: 50px auto;
  justify-content: center;
}

.green-box{
  display: flex; 
  margin: 0px auto;
}

.green-box-1{
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.green-box-2{
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.green-box-3{
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.green-box-4{
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.yellow-box{
  display:flex;
  margin: 0px auto;
  
}

.yellow-box-1{
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.yellow-box-2{
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.yellow-box-3{
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.yellow-box-4{
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.blue-box{
  display:flex;
  margin: 0px auto;
}

.blue-box-1{
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.blue-box-2{
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.blue-box-3{
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.blue-box-4{
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer{
  text-align: center;
}

footer{
  width: 100%;
  height: 120px;
  line-height:120px;
  text-align: center;
  background-color: #848282;
}

.footer-text{
  color: #fff;
}